[run]
source=torch_geometric
omit=
    torch_geometric/datasets/*
    torch_geometric/read/*
    torch_geometric/data/extract.py
    torch_geometric/nn/data_parallel.py
[report]
exclude_lines =
    pragma: no cover
    raise
    except
    register_parameter
    warn
