__pycache__/
.pytest_cache/
.DS_Store
data/
build/
dist/
alpha/
runs/
wandb/
.cache/
.eggs/
lightning_logs/
outputs/
graphgym/datasets/
graphgym/results/
*.egg-info/
.ipynb_checkpoints
.coverage
.coverage.*
coverage.xml
.vscode
.idea
.venv
*.out
*.pt
*.onnx
examples/*.png
examples/*.pdf

!torch_geometric/data/
!test/data/
