__pycache__/
data/
results/
build/
dist/
alpha/
runs/
.cache/
.eggs/
lightning_logs/
graphgym/datasets/
*.egg-info/
.ipynb_checkpoints
.coverage
.coverage.*
coverage.xml
.vscode
.idea
.venv
*.out
*.pt

!torch_geometric/data/
!test/data/
