.wy-side-nav-search .wy-dropdown > a img.logo, .wy-side-nav-search > a img.logo {
  height: 150px;
}

.wy-side-nav-search {
  background: rgb(243,244,247);
}

.wy-side-nav-search > div.version {
  color: black;
}

.wy-nav-content-wrap {
  background: inherit;
}

.wy-side-nav-search input[type="text"] {
  border: none;
  box-shadow: none;
  background: white;
  border-radius: 0;
  font-size: 100%;
}

.wy-menu-vertical li.current a,
.wy-menu-vertical li.toctree-l1.current > a {
  border: none;
}

.ethical-rtd > div.ethical-sidebar,
.ethical-rtd > div.ethical-footer {
  display: none !important;
}

h1 {
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 200;
}

h2,
.rst-content .toctree-wrapper p.caption {
  font-family: inherit;
  font-weight: 200;
}

.rst-content a:visited {
  color: #3091d1;
}

/* Begin code */
.rst-content pre.literal-block,
.rst-content div[class^="highlight"] {
  border: none;
}

.rst-content pre.literal-block,
.rst-content div[class^="highlight"] pre,
.rst-content .linenodiv pre {
  font-size: 80%;
}

.highlight {
  background: #f6f8fa;
  border-radius: 6px;
}

.highlight .kn,
.highlight .k {
  color: #d73a49;
}

.highlight .nn {
  color: inherit;
  font-weight: inherit;
}

.highlight .nc {
  color: #e36209;
  font-weight: inherit;
}

.highlight .fm,
.highlight .nd,
.highlight .nf,
.highlight .nb {
  color: #6f42c1;
}

.highlight .bp,
.highlight .n {
  color: inherit;
}

.highlight .kc,
.highlight .s1,
.highlight .s2,
.highlight .mi,
.highlight .mf,
.highlight .bp,
.highlight .bn,
.highlight .ow {
  color: #005cc5;
  font-weight: inherit;
}

.highlight .c1 {
  color: #6a737d;
}

.rst-content code.xref {
  padding: .2em .4em;
  background: rgba(27,31,35,.05);
  border-radius: 6px;
  border: none;
}
/* End code */

.rst-content dl:not(.docutils) dt,
.rst-content dl:not(.docutils) dl dt {
  background: rgb(243,244,247);
}

.rst-content dl:not(.docutils) dt.field-odd {
  text-transform: uppercase;
  background: inherit;
  border: none;
  margin-bottom: 6px !important;
}

.rst-content dl:not(.docutils) .property:first-child .pre {
  text-transform: uppercase;
  font-style: normal;
}

em.sig-param span.n:first-child, em.sig-param span.n:nth-child(2) {
  color: black;
  font-style: normal;
}

em.sig-param span.n:nth-child(3),
em.sig-param span.n:nth-child(3) a {
  color: inherit;
  font-weight: normal;
  font-style: normal;
}

em.sig-param span.default_value {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",Courier,monospace;
  font-style: normal;
  font-size: 90%;
}

.sig-paren {
  padding: 0 4px;
}

.wy-table-responsive table td,
.wy-table-responsive table th {
  white-space: normal;
}

.wy-table-bordered-all,
.rst-content table.docutils {
  border: none;
}

.wy-table-bordered-all td,
.rst-content table.docutils td {
  border: none;
}

.wy-table-odd td,
.wy-table-striped tr:nth-child(2n-1) td,
.rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td {
  background: rgb(243,244,247);
}

.wy-table td,
.rst-content table.docutils td,
.rst-content table.field-list td,
.wy-table th,
.rst-content table.docutils th,
.rst-content table.field-list th {
  padding: 14px;
}

table.colwidths-given tr td p,
table.colwidths-given tr th p {
  text-align: center;
}

table.colwidths-given tr td:first-child p,
table.colwidths-given tr th:first-child p {
  text-align: left;
}

dl.class dl.simple > dt {
  text-transform: uppercase;
  background: inherit !important;
  color: inherit !important;
  border: none !important;
}

html.writer-html5 .rst-content dl.field-list > dt,
html.writer-html5 .rst-content dl.footnote > dt {
  padding-left: 0;
}

html.writer-html5 .rst-content dl.field-list,
html.writer-html5 .rst-content dl.footnote {
  display: inherit;
}
