/* Monospace font in "Package Reference" navigation */
.wy-menu-vertical > ul:nth-child(4) li.toctree-l1 > a {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
}

/* Monospace font in "Package Reference" titles */
#module-torch_geometric\.seed h1,
#torch-geometric-nn h1,
#torch-geometric-data h1,
#torch-geometric-loader h1,
#torch-geometric-sampler h1,
#torch-geometric-datasets h1,
#torch-geometric-transforms h1,
#torch-geometric-utils h1,
#torch-geometric-graphgym h1,
#torch-geometric-explain h1,
#torch-geometric-profile h1 {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
  letter-spacing: -1px;
}
