name: Building rusty1s Conda

on: [workflow_dispatch]  # yamllint disable-line rule:truthy

jobs:

  conda-build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-18.04, macos-10.15, windows-2019]
        python-version: ['3.7', '3.8', '3.9', '3.10']
        torch-version: [1.10.0, 1.11.0]
        cuda-version: ['cpu', 'cu102', 'cu113', 'cu115']
        exclude:
          - torch-version: 1.10.0
            cuda-version: 'cu115'
          - torch-version: 1.10.0
            python-version: '3.10'
          - os: windows-2019
            torch-version: 1.11.0
            cuda-version: 'cu102'
          - os: macos-10.15
            cuda-version: 'cu102'
          - os: macos-10.15
            cuda-version: 'cu113'
          - os: macos-10.15
            cuda-version: 'cu115'
          # There is a weird `glibc=2.27` bug going on for this combination:
          - os: ubuntu-18.04
            python-version: '3.10'
          - os: ubuntu-18.04
            cuda-version: 'cu115'

    steps:
      - uses: actions/checkout@v3
      - name: Set up Conda for Python ${{ matrix.python-version }}
        uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Free up disk space
        if: ${{ runner.os == 'Linux' }}
        run: |
          sudo rm -rf /usr/share/dotnet

      - name: Install Conda packages
        run: |
          conda install conda-build conda-verify --yes
        shell:
          bash -l {0}

      - name: Build Conda package
        run: |
          ./conda/pytorch-geometric/build_conda.sh ${{ matrix.python-version }} ${{ matrix.torch-version }} ${{ matrix.cuda-version }}
        shell:
          bash -l {0}

      - name: Publish Conda package
        run: |
          conda install anaconda-client --yes
          anaconda upload --force --label main $HOME/conda-bld/*/*.tar.bz2
        env:
          ANACONDA_API_TOKEN: ${{ secrets.RUSTY1S_ANACONDA_TOKEN }}
        shell:
          bash -l {0}
