name: Testing RAG

on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - master
    paths:
      - 'torch_geometric/datasets/web_qsp_dataset.py'
      - 'torch_geometric/llm/**'
  pull_request:
    paths:
      - 'torch_geometric/datasets/web_qsp_dataset.py'
      - 'torch_geometric/llm/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}-${{ startsWith(github.ref, 'refs/pull/') || github.run_number }}  # yamllint disable-line
  # Only cancel intermediate builds if on a PR:
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  rag_pytest:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup packages
        uses: ./.github/actions/setup
        with:
          full_install: false

      - name: Install main package
        run: |
          uv pip install -e ".[test,rag]"

      - name: Run tests
        timeout-minutes: 10
        run: |
          uv run --no-project pytest test/llm --cov --cov-report=xml --durations 10
        shell: bash
        env:
          RAG_TEST: "1"
          TOKENIZERS_PARALLELISM: "false"
          OMP_NUM_THREADS: "1"
          MKL_NUM_THREADS: "1"
