name: Testing RAG

on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - master
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}-${{ startsWith(github.ref, 'refs/pull/') || github.run_number }}  # yamllint disable-line
  # Only cancel intermediate builds if on a PR:
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:

  rag_pytest:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 40

      # Run workflow if only certain files have been changed.
      - name: Get changed files
        id: changed-files-specific-rag
        uses: tj-actions/changed-files@v46
        with:
          files: |
            torch_geometric/datasets/web_qsp_dataset.py
            torch_geometric/nn/nlp/**
            torch_geometric/nn/models/g_retriever.py
            torch_geometric/loader/rag_loader.py

      - name: Setup packages
        if: steps.changed-files-specific-rag.outputs.any_changed == 'true'
        uses: ./.github/actions/setup
        with:
          full_install: false

      - name: Install main package
        if: steps.changed-files-specific-rag.outputs.any_changed == 'true'
        run: |
          uv pip install -e ".[test,rag]"

      - name: Run tests
        if: steps.changed-files-specific-rag.outputs.any_changed == 'true'
        timeout-minutes: 10
        run: |
          RAG_TEST=1 uv run --no-project pytest -m rag --durations 10
